<div class="row">
  <% if (message.length > 0) { %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><%= message %></p>
    </div>
  <% } %>
  <h3>Recuperar contraseña</h3>
  <form class="" action="/account/emailRecovery" method="post">
    <div>
      <label for="email">Correo Electrónico</label>
      <input type="email" name="email" id="email" required>
    </div>
    <button class="btn btn-success">Enviar</button>
  </form>
</div>
