<div class="row">
  <% if (message.length > 0) { %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><%= message %></p>
    </div>
  <% } %>
  <h3>Recuperar contraseña</h3>
  <form class="" action="/account/recovery/<%= id1 %>/<%= id2 %>/<%= uid %>?_method=put" method="post">
    <div>
      <label for="password">Nueva Contraseña</label>
      <input type="password" name="password" id="password">
    </div>
    <div>
      <label for="cpassword">Confirmar Contraseña</label>
      <input type="password" name="cpassword" id="cpassword">
    </div>
    <button class="btn btn-success">Enviar</button>
  </form>
</div>
