<div style="text-align: center;">
  <img src="/labaguasyalimentos/img/404.gif" class="img-responsive" alt="404" width="304" height="236">
</div>
<% if (error.stack) { %>
  <pre><%= error.stack %></pre>
<% } %>
