<% include header.ejs %>
<% include nav.ejs %>
  <div class="container-fluid">
    <div class="col-sm-12">
      <% if (message.length > 0) { %>
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p><%= message %></p>
        </div>
      <% } %>
      <div class="center">
        <h1>BIENVENIDO</h1>
      </div>
    </div>
  </div>
<% include footer.ejs %>
    <script type="text/javascript">
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
      });
    </script>
  </body>
</html>
