<!DOCTYPE html>
<html>
  <head>
    <title>Analysis Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <header role="banner" class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-inverse side-collapse in">
          <nav role="navigation" class="navbar-collapse">
            <% if (typeof(session) == 'object' && session) { %>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Analysis Lab</a></li>
                  <% if (session.state === '1') { %>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Administración
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="/users/admin">Gestión de Usuarios</a></li>
                        <li><a href="/users/pending/approve">Aprobación de Cuentas</a></li>
                        <li><a href="/users/pending/deactivate">Desactivación de Cuentas</a></li>
                      </ul>
                    </li>
                  <% } %>
                  <% const roles = [
                    'director del laboratorio',
                    'responsable técnico',
                    'auxiliar administrativo'
                  ] %>
                  <% if (roles.includes(session.rol)) { %>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Cotización
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="/quotation/search">Buscar</a></li>
                        <% if (session.rol === 'responsable técnico' || session.rol === 'auxiliar administrativo') {%>
                          <li><a href="/quotation/new">Crear</a></li>
                        <% } %>
                        <% if (session.rol === 'responsable técnico' || session.rol === 'director del laboratorio') {%>
                          <li><a href="/quotation/pending/approval">Aprobación de Cotizaciones</a></li>
                          <li><a href="/quotation/pending/delete">Eliminación de Cotizaciones</a></li>
                        <% } %>
                      </ul>
                    </li>
                  <% } %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/profile">
                    <span class="glyphicon glyphicon-user"></span>
                    <%= session.firstname %></a>
                  </li>
                  <li><a href="#" id="logout">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Salir</a>
                    <form action="/session/logout?_method=delete" method="post" id="exit"></form>
                  </li>
                </ul>
              <% } else { %>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Analysis Lab</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/users/register">
                    <span class="glyphicon glyphicon-user"></span>
                    Regitrarse</a>
                  </li>
                  <li><a href="/session/login">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Iniciar Sesión</a>
                  </li>
                </ul>
              <% } %>
          </nav>
        </div>
      </div>
    </header>

    <div class="container side-collapse-container" >
      <%- body %>
    </div>

    <script src="/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/navbar.js"></script>
    <script type="text/javascript">
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
      });
    </script>
  </body>
</html>
