<% include ../header.ejs %>
<% include ../nav.ejs %>
  <div class="container-fluid">
    <div class="col-xs-11 col-sm-6 center space-bottom">
      <a href="/quotation/new" class="btn btn-menu btn-color-blue"><i class="fa fa-plus" aria-hidden="true"></i>  Crear</a>
    </div>
    <div class="col-xs-11 col-sm-6 center">
      <a href="/quotation/search" class="btn btn-menu btn-color-green"><i class="fa fa-list-ul" aria-hidden="true"></i>  Listar</a>
    </div>
  </div>
<% include ../footer.ejs %>
