<% include ../header.ejs %>
<% include ../nav.ejs %>
    <div class="container-fluid">
      <div class="col-xs-12">
        <div class="title">
          <h1>Crear Cotización</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="4" class="center">SOLICITUD REALIZADA A TRAVES DE:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Telefónico: <input type="radio" name="method" id="t" class="method" aria-label="..." style="margin-left: 20px;"></td>
                <td>Presencial: <input type="radio" name="method" id="p" class="method" aria-label="..." style="margin-left: 20px;"></td>
                <td>Email: <input type="radio" name="method" id="e" class="method" aria-label="..." style="margin-left: 20px;"></td>
                <td>Correspondencia: <input type="radio" name="method" id="c" class="method" aria-label="..." style="margin-left: 20px;"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered center">
            <thead>
              <tr>
                <th colspan="3" class="center col-xs-3">Fecha</th>
                <th class="center col-sm-2">Cotización No.</th>
                <th rowspan="2" class="col-xs-5"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="center">Dia</th>
                <th class="center">Mes</th>
                <th class="center">Año</th>
                <td rowspan="2" class="quotation-number"><%= id %></td>
                <td rowspan="2"></td>
              </tr>
              <tr id="date"></tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2" class="center col-xs-12">DATOS DE LA EMPRESA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-3 fix-padding left">
                    Razon Social:
                  </div>
                  <div class="col-xs-12 col-sm-9">
                    <input type="text" class="form-control uppercase" name="businessName" id="businessName" placeholder="Razón Social" aria-describedby="basic-addon1">
                  </div>
                </td>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-2 fix-padding left">
                    Nit o C.C:
                  </div>
                  <div class="col-xs-12 col-sm-10">
                    <input type="text" class="form-control" name="document" id="document" placeholder="Nit o C.C" aria-describedby="basic-addon1">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-3 fix-padding left">
                    Solicitante:
                  </div>
                  <div class="col-xs-12 col-sm-9">
                    <input type="text" class="form-control capitalize" name="applicant" id="applicant"placeholder="Solicitante" aria-describedby="basic-addon1">
                  </div>
                </td>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-2 fix-padding left">
                    Cargo:
                  </div>
                  <div class="col-xs-12 col-sm-10">
                    <input type="text" class="form-control capitalize" name="position" id="position" placeholder="Cargo" aria-describedby="basic-addon1">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-3 fix-padding left">
                    Dirección:
                  </div>
                  <div class="col-xs-12 col-sm-9">
                    <input type="text" class="form-control" name="address" id="address" placeholder="Dirección" aria-describedby="basic-addon1">
                  </div>
                </td>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-3 fix-padding left">
                    Teléfono/Fax:
                  </div>
                  <div class="col-xs-12 col-sm-9">
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Teléfono/Fax" aria-describedby="basic-addon1">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-5 fix-padding left">
                    Municipio/Departamento:
                  </div>
                  <div class="col-xs-12 col-sm-7">
                    <input type="text" class="form-control capitalize" name="city" id="city" placeholder="Municipio/Departamento" aria-describedby="basic-addon1">
                  </div>
                </td>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-4 fix-padding left">
                    Correo electrónico:
                  </div>
                  <div class="col-xs-12 col-sm-8">
                    <textarea class="form-control" name="email" id="email" placeholder="Correo electrónico"></textarea>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered center">
            <thead>
              <tr>
                <th class="col-xs-2 center">TIPO DE MUESTRA</th>
                <th class="col-xs-2 center">PARÁMETRO</th>
                <th class="col-xs-3 center">MÉTODO</th>
                <th class="col-xs-2 center">Precio por Muestra</th>
                <th class="col-xs-1 center">No. de Muestras</th>
                <th class="col-xs-2 center">VALOR TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr id="sampleInfo">
                <td rowspan="">
                  <div class="col-sm-6">
                    <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
                  </div>
                  <div class="col-sm-6">
                    <a href="#" class="icon-blue" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <th colspan="6">
                  <div class="col-sm-12">
                    <div class="col-sm-2">
                      Observaciones:
                    </div>
                    <div class="col-sm-10">
                      <textarea class="form-control" rows="2" name="observations" id="observations" placeholder="Observaciones" aria-describedby="basic-addon1"></textarea>
                    </div>
                  </div>
                </th>
              </tr>
              <tr>
                <th colspan="5" class="center">TOTAL A PAGAR</th>
                <td><strong>$ <strong><span id="totalPrice">0</span></td>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <form class="" id="sampleForm" action="" method="post">
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header center">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Añadir Muestra</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <div class="col-sm-3">
                              <label for="sample">Tipo de Muestra: </label>
                            </div>
                            <div class="col-sm-9">
                              <input type="text" class="form-control sampleInput uppercase" required="" id="sample">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="center">
                          <h4>Parámetros</h4>
                        </div>
                      </div>
                      <div id="parameters">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <div class="center">
                                  <label>Parámetro</label>
                                </div>
                                <input type="text" class="form-control sampleInput capitalize" required="">
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <div class="center">
                                  <label>Método</label>
                                </div>
                                <input type="text" class="form-control sampleInput capitalize" required="">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <div class="center">
                                  <label>Precio</label>
                                </div>
                                <input type="number" min="0" class="form-control sampleInput" required="">
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <span class="addParameter" onclick="addParameter('#add0', 1)" id="add0"><i class="fa fa-plus fa-2x fix-position" aria-hidden="true"></i></span>
                              <span class="removeParameter" onclick="removeParameter('#remove0', 1)" id="remove0"><i class="fa fa-minus-circle fa-2x fix-position icon-red" aria-hidden="true"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success">Agregar</button>
                      <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="row">
            <form class="" id="parameterForm" action="" method="post">
              <div class="modal fade" id="parameterModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <div class="center">
                        <h4 class="modal-title">Añadir Parametro(s)</h4>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div id="othersParameters">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <div class="center">
                                  <label>Parámetro</label>
                                </div>
                                <input type="text" class="form-control parameterInput capitalize" required="">
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <div class="center">
                                  <label>Método</label>
                                </div>
                                <input type="text" class="form-control parameterInput capitalize" required="">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <div class="center">
                                  <label>Precio</label>
                                </div>
                                <input type="number" min="0" class="form-control parameterInput" required="">
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <span class="addParameter" onclick="addParameter('#adds0', 2)" id="adds0"><i class="fa fa-plus fa-2x fix-position" aria-hidden="true"></i></span>
                              <span class="removeParameter" onclick="removeParameter('#removes0', 2)" id="removes0"><i class="fa fa-minus-circle fa-2x fix-position icon-red" aria-hidden="true"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success">Agregar</button>
                      <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="row">
            <form id="sampleSearchForm" action="" method="post">
              <div class="modal fade" id="searchModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <div class="center">
                        <h4 class="modal-title">Buscar Muestra</h4>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="input-group">
                            <input type="text" class="form-control sampleSearchInput uppercase" placeholder="Ingresa el tipo de muestra" name="searchSample">
                            <div class="input-group-btn">
                              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" id="searchAlert"></div>
                      <div id="searchContent"></div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success">Agregar</button>
                      <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
        <div class="row space-bottom center">
          <button class="btn btn-success btn-lg" id="sendSample">Crear</button>
        </div>
      </div>
    </div>
    <form action="/quotation/create" method="post" id="quotationCreate">
      <input type="hidden" name="method" id="quotationMethod" value="">
      <input type="hidden" name="date" id="quotationDate" value="">
      <input type="hidden" name="businessName" id="quotationBusinessName" value="">
      <input type="hidden" name="document" id="quotationDocument" value="">
      <input type="hidden" name="applicant" id="quotationApplicant" value="">
      <input type="hidden" name="position" id="quotationPosition" value="">
      <input type="hidden" name="address" id="quotationAddress" value="">
      <input type="hidden" name="phone" id="quotationPhone" value="">
      <input type="hidden" name="city" id="quotationCity" value="">
      <input type="hidden" name="email" id="quotationEmail" value="">
      <input type="hidden" name="samples" id="quotationSamples" value="">
      <input type="hidden" name="observations" id="quotationObervations" value="">
      <input type="hidden" name="total" id="quotationTotal" value="">
    </form>

<% include ../footer.ejs %>
    <script src="/js/samplesManager.js"></script>
    <script type="text/javascript">
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
      });
      const date = new Date();
      $("#date").html(`
        <td>${date.getDate()}</td>
        <td>${date.getMonth() + 1}</td>
        <td>${date.getFullYear()}</td>`
      );
    </script>
  </body>
</html>
