<!DOCTYPE html>
<html>
  <head>
    <title>Analysis Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

  </head>
  <body>

        <div class="table-responsive">
          <table class="table" style="border: 2px solid #000; border-collapse: collapse;">
            <thead>
              <tr>
                <th colspan="4" class="center" style="border: 1px solid #000;">SOLICITUD REALIZADA A TRAVES DE:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="border: 1px solid #000;">Telefónico: </td>
                <td style="border: 1px solid #000;">Presencial: X</td>
                <td style="border: 1px solid #000;">Email: </td>
                <td style="border: 1px solid #000;">Correspondencia: </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table center" style="border: 2px solid #000; border-collapse: collapse;">
            <thead>
              <tr>
                <th colspan="3" class="center col-xs-3" style="border: 1px solid #000;">Fecha</th>
                <th class="center col-sm-2" style="border: 1px solid #000;">Cotización No.</th>
                <th rowspan="2" class="col-xs-5" style="border: 1px solid #000;"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="center" style="border: 1px solid #000;">Dia</th>
                <th class="center" style="border: 1px solid #000;">Mes</th>
                <th class="center" style="border: 1px solid #000;">Año</th>
                <td rowspan="2" class="quotation-number" style="border: 1px solid #000;">1025/16</td>
                <td rowspan="2"></td>
              </tr>
              <tr id="date">
                <th style="border: 1px solid #000;">21</th>
                <th style="border: 1px solid #000;">09</th>
                <th style="border: 1px solid #000;">2016</th>
              </tr>
            </tbody>
          </table>
          <table class="table" style="border: 2px solid #000; border-collapse: collapse;">
            <thead>
              <tr>
                <th colspan="2" class="center col-xs-12" style="border: 1px solid #000;">DATOS DE LA EMPRESA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center col-xs-6" style="border: 1px solid #000;">Razon Social: ASOCIACIÓN ACUEDUCTO LOS PINOS</td>
                <td class="center col-xs-6" style="border: 1px solid #000;">Nit o C.C: 816.002.634-9</td>
              </tr>
              <tr>
                <td class="center col-xs-6" style="border: 1px solid #000;">Solicitante: Gabriel Orozco Bedoya</td>
                <td class="center col-xs-6" style="border: 1px solid #000;">Cargo: Presidente</td>
              </tr>
              <tr>
                <td class="center col-xs-6" style="border: 1px solid #000;">Dirección: Mz A Cs 23 B/ Los Pinos</td>
                <td class="center col-xs-6" style="border: 1px solid #000;">Teléfono/Fax: 3286920-3046081519</td>
              </tr>
              <tr>
                <td class="center col-xs-6" style="border: 1px solid #000;">Municipio/Departamento: Dosquebradas/Risaralda</td>
                <td class="center col-xs-6" style="border: 1px solid #000;">Correo electrónico: juan.joselopez@hotmail.com, gabriel.orozco1968@gmail.com</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table center" style="border: 2px solid #000; border-collapse: collapse;">
            <thead>
              <tr>
                <th class="col-xs-2 center" style="border: 1px solid #000;">TIPO DE MUESTRA</th>
                <th class="col-xs-2 center" style="border: 1px solid #000;">PARÁMETRO</th>
                <th class="col-xs-3 center" style="border: 1px solid #000;">MÉTODO</th>
                <th class="col-xs-2 center" style="border: 1px solid #000;">Precio por Muestra</th>
                <th class="col-xs-1 center" style="border: 1px solid #000;">No. de Muestras</th>
                <th class="col-xs-2 center" style="border: 1px solid #000;">VALOR TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th rowspan="3" style="border: 1px solid #000;">AGUA TRATADA</th>
                <th style="border: 1px solid #000;">pH</th>
                <th style="border: 1px solid #000;">SM: 4500 H--B. Electrométrico</th>
                <th style="border: 1px solid #000;">6.300</th>
                <th style="border: 1px solid #000;">1</th>
                <th style="border: 1px solid #000;">6.300</th>
              </tr>
              <tr>
                <th style="border: 1px solid #000;">Turbiedad</th>
                <th style="border: 1px solid #000;">SM: 2130 B. Nefelométrico</th>
                <th style="border: 1px solid #000;">6.300</th>
                <th style="border: 1px solid #000;">1</th>
                <th style="border: 1px solid #000;">6.300</th>
              </tr>
              <tr>
                <th style="border: 1px solid #000;">Color Aparente</th>
                <th style="border: 1px solid #000;">SM: 2120 B. Comparación Visual</th>
                <th style="border: 1px solid #000;">4.700</th>
                <th style="border: 1px solid #000;">1</th>
                <th style="border: 1px solid #000;">4.700</th>
              </tr>
              <tr>
                <th colspan="6" style="border: 1px solid #000;">Observaciones: </th>
              </tr>
              <tr>
                <th colspan="5" class="center" style="border: 1px solid #000;">TOTAL A PAGAR</th>
                <td style="border: 1px solid #000;"><strong>$ 62.700<strong></td>
              </tr>
            </tbody>
          </table>
        </div>
    </body>
</html>
