<div class="row">

  <div id="wrapper" class="active">
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
        <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<i id="main_icon" class="fa fa-bars" aria-hidden="true"></i></a></li>
      </ul>
      <ul class="sidebar-nav" id="sidebar">
        <li><a href="#">Cotización<i class="sub_icon fa fa-file-text-o" aria-hidden="true"></i></a></li>
        <li><a href="#">Recepción de Muestra<i class="sub_icon fa fa-archive" aria-hidden="true"></i></a></li>
        <li><a href="#">Registro de Resultados<i class="sub_icon fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
        <li><a href="#">Generación de Informes<i class="sub_icon fa fa-bar-chart" aria-hidden="true"></i></a></li>
      </ul>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
      <!-- Keep all page content within the page-content inset div! -->
      <div class="container-fluid">
        <div class="col-xs-12">
          <div class="title">
            <h1>Crear Cotización</h1>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th colspan="4" class="center">SOLICITUD REALIZADA A TRAVES DE:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Telefónico: <input type="checkbox" aria-label="..." style="margin-left: 20px;"></td>
                  <td>Presencial: <input type="checkbox" aria-label="..." style="margin-left: 20px;"></td>
                  <td>Email: <input type="checkbox" aria-label="..." style="margin-left: 20px;"></td>
                  <td>Correspondencia: <input type="checkbox" aria-label="..." style="margin-left: 20px;"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered center">
              <thead>
                <tr>
                  <th colspan="3" class="center col-xs-3">Fecha</th>
                  <th class="center col-sm-2">Cotización No.</th>
                  <th rowspan="2" class="col-xs-5"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="center">Dia</th>
                  <th class="center">Mes</th>
                  <th class="center">Año</th>
                  <td rowspan="2">1</td>
                  <td rowspan="2"></td>
                </tr>
                <tr>
                  <td>04</td>
                  <td>05</td>
                  <td>2016</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th colspan="2" class="center col-xs-12">DATOS DE LA EMPRESA</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="center col-xs-6">
                    <div class="col-xs-12 col-sm-3 fix-padding left">
                      Razon Social:
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <input type="text" class="form-control" placeholder="Razón Social" aria-describedby="basic-addon1">
                    </div>
                  </td>
                  <td class="center col-xs-6">
                    <div class="col-xs-12 col-sm-2 fix-padding left">
                      Nit o C.C:
                    </div>
                    <div class="col-xs-12 col-sm-10">
                      <input type="text" class="form-control" placeholder="Nit o C.C" aria-describedby="basic-addon1">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="center col-xs-6">
                    <div class="col-xs-12 col-sm-3 fix-padding left">
                      Solicitante:
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <input type="text" class="form-control" placeholder="Solicitante" aria-describedby="basic-addon1">
                    </div>
                  </td>
                  <td class="center col-xs-6">
                    <div class="col-xs-12 col-sm-2 fix-padding left">
                      Cargo:
                    </div>
                    <div class="col-xs-12 col-sm-10">
                      <input type="text" class="form-control" placeholder="Cargo" aria-describedby="basic-addon1">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="center col-xs-6">
                    <div class="col-xs-12 col-sm-3 fix-padding left">
                      Dirección:
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <input type="text" class="form-control" placeholder="Dirección" aria-describedby="basic-addon1">
                    </div>
                  </td>
                  <td class="center col-xs-6">
                    <div class="col-xs-12 col-sm-3 fix-padding left">
                      Teléfono/Fax:
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <input type="text" class="form-control" placeholder="Teléfono/Fax" aria-describedby="basic-addon1">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="center col-xs-6">
                    <div class="col-xs-12 col-sm-5 fix-padding left">
                      Municipio/Departamento:
                    </div>
                    <div class="col-xs-12 col-sm-7">
                      <input type="text" class="form-control" placeholder="Municipio/Departamento" aria-describedby="basic-addon1">
                    </div>
                  </td>
                  <td class="center col-xs-6">
                    <div class="col-xs-12 col-sm-4 fix-padding left">
                      Correo electrónico:
                    </div>
                    <div class="col-xs-12 col-sm-8">
                      <input type="text" class="form-control" placeholder="Correo electrónico" aria-describedby="basic-addon1">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered center">
              <thead>
                <tr>
                  <th class="col-xs-2 center">TIPO DE MUESTRA</th>
                  <th class="col-xs-2 center">PARÁMETRO</th>
                  <th class="col-xs-3 center">MÉTODO</th>
                  <th class="col-xs-2 center">Precio por Muestra</th>
                  <th class="col-xs-1 center">No. de Muestras</th>
                  <th class="col-xs-2 center">VALOR TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="2">AGUA TRATADA</td>
                  <td>pH</td>
                  <td>SM: 4500 H<sup>-</sup>-B. Electrométrico</td>
                  <td>6.300</td>
                  <td>1</td>
                  <td>6.300</td>
                </tr>
                <tr>
                  <td>Turbiedad</td>
                  <td>SM: 2130 B. Nefelométrico</td>
                  <td>6.300</td>
                  <td>1</td>
                  <td>6.300</td>
                </tr>
                <tr>
                  <th colspan="6" class="left">Observaciones: </th>
                </tr>
                <tr>
                  <th colspan="5" class="center">TOTAL A PAGAR</th>
                  <td>$12.600</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
